<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
  <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
  <header>
    <h1>Node Section 5 Assignment 3 Users Page</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <p>A list of users could go here.</p>
    <ul>
      <li>Kevan</li>
      <li>Bob</li>
      <li>Ethan</li>
      <li>Stephen</li>
    </ul>
  </main>
</body>
<script type="text/javascript" src="/js/main.js"></script>
</html>